---
layout: default
active: archive
---
<section id="banner">
  <span class="date">{{ site.time | date: "%b,%d %Y" }}</span>
  <span class="sub_info"> today </span>
</section>

<section class="list_with_title">
  {% assign postsByYear =
      site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
  {% for year in postsByYear %}
      <li class="listing_title">{{ year.name }}</li>
      <ul class="listing">
        {% for post in year.items %}
          <li class="listing_item">
            <span class="date">{{ post.date | date: "%F" }}</span>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>

  {% endfor %}
</section>
