---
layout: default
---
<div id="banner">
  <h1 class="title">{{ page.title | escape }}</h1>
  {% if page.date %}
  <span class="sub_info">{{ page.date | date_to_string }}</span>
  {% endif %}
</div>

<div class="post">
  <div class="content">
    {{ content }}
  </div>

  {% if site.disqus %}
  <div id="disqus_thread">
    <script>
      var disqus_config = function () {
        this.page.url = '{{ page.url | absolute_url }}';
        this.page.identifier = '{{ page.url | absolute_url }}';
      };
      (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://{{ site.disqus.shortname }}.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  {% endif %}
</div>
</div>
